@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

vertical {
  text-orientation: sideways;
  writing-mode: vertical-rl;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

@font-face {
  font-family: "Whale";
  src: url("./assests//fonts//WhaleITriedRegular-xWq0.ttf");
}

@layer components {
  .cursor {
    background: white;
    position: absolute;
    z-index: 999999999;
    transform: translate(0%, 0%);
    pointer-events: none;
    border: 1px solid black;
  }

  .eraser {
    width: 15px;
    height: 15px;
  }

  .default {
    display: none;
  }
}
